@using RyleyGoodinePortfolio.Models;

@page "/projects/{Slug}"

<PageTitle>@Project?.Title</PageTitle>

@if (Project is null)
{
    <p>Project not found.</p>
}
else
{
    <section class="case-study">

        <header>
            <h1>@Project.Title</h1>

            <p class="summary">
                @Project.Summary
            </p>
        </header>

        <section>
            <h2>Overview</h2>

            <p>
                @Project.Description
            </p>
        </section>


        <section>
            <h2>Tech Stack</h2>

            <ul>
                @foreach (var tech in Project.Technologies)
                {
                    <li>@tech</li>
                }
            </ul>
        </section>


        <section>
            <h2>Challenges</h2>

            <p>
                Describe architecture problems,
                bugs solved, tradeoffs made.
            </p>
        </section>


        <section>
            <h2>Results</h2>

            <p>
                What was built, what worked,
                what you learned.
            </p>
        </section>

    </section>
}

@code {

    [Parameter]
    public string Slug { get; set; } = "";

    Project? Project;

    protected override void OnParametersSet()
    {
        Project = ProjectRepository
            .GetAll()
            .FirstOrDefault(p => p.Slug == Slug);
    }

}