@using RyleyGoodinePortfolio.Component
@using RyleyGoodinePortfolio.Models;
@using RyleyGoodinePortfolio.Data;

@page "/projects/{Slug}"

<PageTitle>@Project?.Title</PageTitle>

@if (Project is null)
{
    <p>Project not found.</p>
}
else
{
    <section class="projects-page">

        <header>
            <h1>@Project.Title</h1>

            <p class="summary">
                @Project.Summary
            </p>
        </header>

        <div>
            <h2>Overview</h2>

            <p>
                @Project.Description
            </p>
        </div>


        <div>
            <h2>Tech Stack</h2>

            <ul>
                @foreach (var tech in Project.Technologies)
                {
                    <li>@tech</li>
                }
            </ul>
        </div>


        <div>
            <h2>Challenges</h2>

            <p>
                Describe architecture problems,
                bugs solved, tradeoffs made.
            </p>
        </div>


        <div>
            <h2>Results</h2>

            <p>
                What was built, what worked,
                what you learned.
            </p>
        </div>

        <!-- 3 column rows for cards -->
        <h2>Media</h2>
        <div class="media-grid">
            @foreach (var (media, index) in Project.Media.Select((m, i) => (m, i)))
            {
                <MediaProjectCard Media="media"
                                  MediaList="Project.Media"
                                  Index="index" />
            }
        </div>

    </section>
}

<style>
    .media-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .projects-page {
        display: grid;
        //place-items: center;
        min-height: 100vh;
        margin: auto;
        padding: 4rem 2rem;
    }
</style>

@code {

    [Parameter]
    public string Slug { get; set; } = "";

    Project? Project;

    protected override void OnParametersSet()
    {
        Project = ProjectRepository
            .GetAll()
            .FirstOrDefault(p => p.Slug == Slug);
    }

}