@page "/"

<PageTitle>About Me</PageTitle>

<!-- 
    Hero Image of me at the top of the page

    blurb about me, my work, and my passions. Maybe a few sentences about my background and what I hope to achieve with this portfolio.

    skills summary and list of software programs and languages I've worked in.
-->

<h1>A little about me</h1>